%h1= @topic.name
- if can? :update, @topic
  =link_to "Edit topic", edit_topic_path, class: 'btn btn-primary btn-mini'
.row
  .span8
    %p.lead= @topic.description
    = render @posts
    = will_paginate @posts
  .span4
    - if can? :create, Post
      = link_to "New Post", new_topic_post_path(@topic), class: 'btn btn btn-large btn-block'
    - if can? :destroy, @topic
      = link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this topic?'





 



