%h1= @topic.name
- if can? :update, @topic
  =link_to "Edit topic", edit_topic_path, class: 'btn btn-primary btn-mini'

.row
  .span8
    %p.lead= @topic.description
    - @posts.each do |post|
      .media
        .media-body
          .media-heading
            = image_tag(post.image.thumb.url) if post.image?
            %h4= link_to (markdown post.title), [@topic, post]
            %small
              = image_tag(post.user.avatar.tiny.url) if post.user.avatar?
              submitted #{time_ago_in_words(post.created_at)} ago by
              \#{post.user.name}
              %br/
              = post.comments.count
              Comments
  .span4
    - if can? :create, Post
      = link_to "New Post", new_topic_post_path(@topic), class: 'btn btn btn-large btn-block'





 



