.media
  = link_to user, class: 'pull-left' do
    = image_tag(user.avatar.tiny.url) if user.avatar?
  .media-body
    %h4.media-heading
      = link_to user.name, user
    %small
      = pluralize(user.posts_count, 'post')
      ,
      \#{pluralize(user.comments_count, 'comment')}
