.row
  .span12
    .media
      - if @user.avatar?
        = image_tag @user.avatar.url, class: 'pull-left'
      .media-body
        %h2.media-heading= @user.name
        %small
          = pluralize(@user.posts.count, 'post')
          ,
          \#{pluralize(@user.comments.count, 'comment')}
%br/
.row
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#posts"} Posts
      %li
        %a{"data-toggle" => "tab", href: "#comments"} Comments
    .tab-content
      #posts.tab-pane.active
        = render @posts
      #comments.tab-pane
        = render @user.comments
