%h1= markdown @post.title
.row
  .span8
    = render partial: 'votes/voter', locals: {topic: @topic, post: @post}
    %small
      = image_tag(@post.user.avatar.tiny.url) if @post.user.avatar?
      submitted #{time_ago_in_words(@post.created_at)} ago by
      \#{@post.user.name}
    %p= markdown @post.body
    %p= image_tag(@post.image.thumb.url) if @post.image?
    -# %h3.js-comments-count #{@comments_count} Comments
    %h3.js-comments-count #{@comments.count} Comments
    %br/ 
    = render partial: "comments/comment", collection: @comments

    - if can? :create, Comment
      %hr/ 
      %a.js-add-comment{href: "#"} Add Comment
      %br/ 
      %div.js-new-comment.hide
        %h4 New Comment
        = render partial: "comments/form", locals: {topic: @topic, post: @post, comment: @comment}
  .span4
    - if can? :edit, @post
      = link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block'
    - if can? :destroy, @post
      = link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this post?'
%div 
  %h3= pluralize(@post.points, 'point')
  %small 
    = pluralize(@post.up_votes, 'up vote')
    = pluralize(@post.down_votes, 'down vote')
= render partial: "favorites/favorite" , locals: {topic: @topic, post: @post}
