%h1 All Posts
- if can? :create, Post
  = link_to "New Post", new_post_path, class: 'btn btn-primary btn-mini'
- @posts.each do |post|
  .media
    .media-body
      %h4.media-heading   
        = link_to post.title, post
      %small
        = "submitted #{time_ago_in_words(post.created_at)} ago by #{post.user.name}"
        %br/
        = "#{post.comments.count } Comments"
